@font-face{font-family:Paperlogy;src:url('/fonts/Paperlogy-1Thin.woff2') format('woff2');font-weight:100;font-display:swap}
@font-face{font-family:Paperlogy;src:url('/fonts/Paperlogy-2ExtraLight.woff2') format('woff2');font-weight:200;font-display:swap}
@font-face{font-family:Paperlogy;src:url('/fonts/Paperlogy-3Light.woff2') format('woff2');font-weight:300;font-display:swap}
@font-face{font-family:Paperlogy;src:url('/fonts/Paperlogy-4Regular.woff2') format('woff2');font-weight:400;font-display:swap}
@font-face{font-family:Paperlogy;src:url('/fonts/Paperlogy-5Medium.woff2') format('woff2');font-weight:500;font-display:swap}
@font-face{font-family:Paperlogy;src:url('/fonts/Paperlogy-6SemiBold.woff2') format('woff2');font-weight:600;font-display:swap}
@font-face{font-family:Paperlogy;src:url('/fonts/Paperlogy-7Bold.woff2') format('woff2');font-weight:700;font-display:swap}
@font-face{font-family:Paperlogy;src:url('/fonts/Paperlogy-8ExtraBold.woff2') format('woff2');font-weight:800;font-display:swap}
@font-face{font-family:Paperlogy;src:url('/fonts/Paperlogy-9Black.woff2') format('woff2');font-weight:900;font-display:swap}
html body,html body *{font-family:Paperlogy,"Malgun Gothic",sans-serif!important}
html body input,html body button,html body select,html body textarea{font-synthesis:none}
